/Software Museum/descrizione casi d'uso.aux
/Software Museum/descrizione casi d'uso.out
/Software Museum/descrizione casi d'uso.log
/Software Museum/descrizione casi d'uso.synctex.gz
/out/descrizione casi d'uso.synctex.gz
/out/descrizione casi d'uso.pdf
/out/
/auxil/
