QPushButton{
background-color: rgb(255,255, 255);
border-radius:8;
border-color: rgb(104, 194, 253);
border-width:4;
border-style: solid;
}

QPushButton:hover{
background-color: rgb(160, 225, 253);
border-color: rgb(255,255, 255);
}
QPushButton:pressed{
background-color: rgb(104, 194, 253);
border-color: rgb(255,255, 255);
}